<head>
  
  <title>My Interests</title>
  
<link rel='icon' href='./static/img/penguinpet.png' type='image/x-icon' />
<link lang='sass' rel="stylesheet" href="./static/styles/menu.css">
<link lang='sass' rel="stylesheet" href="./static/styles/hobbies.css">
<!-- <link lang='sass' rel="stylesheet" href="./static/styles/portfolio.css"> -->
</head>
<body>
  <div class="title-box">
    <h1>Interests!</h1>
  </div>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/zareen-kabir-portfolio">Portfolio</a></li>
            <li><a href="/hobbies">Hobbies and Places I have visited</a></li>
            <li><a href="/timeline">Timeline</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
    

  <section class="container">
    <div class="card">
      <div class="card-image car-1"></div>
      <h2>Photography</h2>
      <p>One of my hobbies is Photography. I love taking pictures of nature and landscapes, especially when I'm hiking</p>
    </div>
    <div class="card">
      <div class="card-image car-2"></div>
      <h2>Video Games</h2>
      <p>Another is Video Games. I love playing adventure-based games. One of my favourite is probably Skyrim </p>
    </div>
    <div class="card">
      <div class="card-image car-3"></div>
      <h2>Travelling</h2>
      <p>Lastly my favourite thing to do in my free time is Travel. I love to visit both places within the city that I've never explored, and go on trips to differnet countries</p>
    </div>
  </section>

  <div class="map">
    <h1>Places I have visited</h1>
    <div class="map-content">
        <div class="map-screen">
            <iframe src="\zareen-map" height="500px" width="850px"></iframe>
        </div>
    </div>
</div>
</body>
