<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Timeline</title>
        <h2>This is the timeline page where you can post requests</h2>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Personal Portfolio">
        <meta property="og:description" content="My Personal Portfolio">
        <meta property="og:url" content="{{ url }}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link lang='sass' rel="stylesheet" href="./static/styles/timeline.css">
        <link rel="stylesheet" href="./static/styles/menu.css">
        <link rel='icon' href='./static/img/penguinpet.png' type='image/x-icon' />
    </head>
    <body>
        <div class="title-box">
            <h1>Timeline</h1>
          </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="/">Homepage</a></li>
                            <li><a href="/zareen-kabir-portfolio">Portfolio</a></li>
                            <li><a href="/hobbies">Hobbies and Places I have visited</a></li>
                            <li><a href="/timeline">Timeline</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-form">
            <form id="form">
                <div class="form-name">
                  <label for="name">Enter your name: </label>
                  <input type="text" name="name" id="name" required>
                </div>
                <div class="form-email">
                  <label for="email">Enter your email: </label>
                  <input type="email" name="email" id="email" required>
                </div>
                <div class="form-content">
                    <label for="email">Enter your content: </label>
                    <input type="text" name="content" id="text" required>
                  </div>
                <div class="form-submit">
                  <input type="submit" value="Submit">
                </div>
              </form>    
        </div>      
        <script>
            const form = document.getElementById('form');
            form.addEventListener('submit', function(e) {
                // Prevent default behavior:
                e.preventDefault();
                // Create new FormData object:
                const formData = new FormData(form);
                // Convert formData object to URL-encoded string:
                const payload = new URLSearchParams(formData);
                // Post the payload using Fetch:
                fetch('/api/timeline_post', {
                method: 'POST',
                body: payload,
                })
                .then(res => res.json())
                .then(data => console.log(data))
            })
        </script>
        <div class="posts">
            {% for post in posts %}
            <h3> 
                <span class="id">id: {{ post.id }}</span>
                <span class="name"> Name: {{ post.name }}</span>
                <span class="content">Content: {{ post.content }}</span>
                <span class="datetime">Created at: {{ post.created_at }}</span>
            </h3>
            {% endfor %}
        </div>
    </body>
    </html>
